* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(images/bgg.svg);
    background-size: cover;
    background-position: center;

}

#home {
    background-image: url(images/download\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background: #7843E9;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navbar {
    display: flex;
    height: 80px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgb(0 0 0 / 49%) 0px 7px 29px 0px;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: poppins;
    font-size: 18px;
    text-transform: capitalize;
    word-spacing: 1px;
    font-weight: 600;
    transition: transform 0.5s ease;
}

.intro-heading {
    padding: 60px;
}

#name-head {
    margin-top: 80px;
}

.intro-heading h1 {
    font-family: parkinsans;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    word-spacing: 5px;
    font-size: 5rem;
    text-align: center;
}

#heading h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}

.intro-para p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 20px;
}

.intro-buttons {
    margin: 60px 60px 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 3.5rem;
    transition: transform 0.5s ease;
}

.intro-buttons button {
    padding: 20px 30px;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.5s ease;
    background-color: #7843E9;
    box-shadow: rgb(0 0 0 / 49%) 0px 7px 29px 0px;
    color: white;
    border: none;
    text-align: center;
}

.intro-buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.intro-buttons li {
    list-style-type: none;
}

.intro-links {
    margin: 0 30px 80px;
}

.line-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border: 5px solid #7843E9;
    border-radius: 50px;
    width: 10%;
}

.about-para {
    margin: 0 250px 150px;
    font-family: poppins;
    font-size: 25px;
}

#about-info {
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.skills-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 60px 150px;
}

.skill-boxes {
    height: 200px;
    width: 170px;
    border: 2px #d5d5d5 solid;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin: 20px 50px 50px;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.5s ease;
    box-shadow: rgb(32 32 39 / 49%) 0px 7px 29px 0px;
}

.skill-boxes p {
    text-align: center;
    font-family: poppins;
}

.skill-boxes img {
    height: 50px;
}

.all-projects {
    display: flex;
    flex-direction: column;
}

.first-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 30px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info h1 {
    font-family: "Momo Trust Display";
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333;
}

.project-info h1,
p,
button {
    margin: 20px;
    text-align: left;

}

.project-info button {
    cursor: pointer;
    transition: transform 0.5s ease;
    padding: 15px;
    border-radius: 10px;
    background-color: #7843E9;
    box-shadow: rgb(0 0 0 / 49%) 0px 7px 29px 0px;
    border: none;
}

.project-info p {
    font-family: poppins;
}

.project-info a {
    text-decoration: none;
    font-family: poppins;
    color: white;
}

.project-img {
    height: 350px;
    width: 725px;
    box-shadow: rgb(32 32 39 / 73%) 0px 7px 29px 0px;
}

.project-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#ui-img {
    height: 550px;
    width: 300px;
}

#heading p {
    text-align: center;
    font-family: poppins;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 50px;
}

.icon-info-container {
    display: contents;
}

.icon-info-container a {
    text-decoration: none;
}

.fa-solid {
    font-size: 1.5rem;
}

.contact-details p {
    font-family: poppins;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    font-family: poppins;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    font-family: poppins;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: poppins;
    transition: transform 0.5s ease;
}

.container {
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    width: 50%;
}

label {
    font-family: poppins;
    color: #0f1d22;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 100px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneproject-head-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 70px;
}

.oneproject-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 150px;
    padding: 30px 100px;
}

.oneproject-content p,
h2 {
    margin: 30px;
}

.oneproject-head-container h1 {
    text-transform: capitalize;
    font-size: 4rem;
    font-family: parkinsans;
    text-align: center;
}

.oneproject-content h2 {
    text-transform: capitalize;
    font-family: "Momo Trust Display";
}

.oneproject-content p {
    font-family: poppins;
    font-size: 17px;
}

.oneproject-content button {
    border-radius: 10px;
    height: 60px;
    padding: 15px 30px;
    text-align: center;
    width: 200px;
    transition: transform 0.5s ease;
    background-color: #7843E9;
    box-shadow: rgb(0 0 0 / 49%) 0px 7px 29px 0px;
    border: none;
}

#project-line {
    width: 50%;
}

.skills-tools {
    display: flex;
    flex-wrap: wrap;
}

.tools-div {
    font-family: poppins;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    font-size: 20px;
    width: 100px;
    text-align: center;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
}

.oneproject-content a {
    font-family: poppins;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

#figma-tools {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-boxes:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 60px;
}

.footer-head h1 {
    letter-spacing: 5px;
    font-family: parkinsans;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.footer-head p {
    color: white;
    font-size: 1rem;
    margin: 30px 0;
    font-family: poppins;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 50px 60px;
}

.footer-socials h1 {
    letter-spacing: 5px;
    font-family: parkinsans;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.footer-icons {
    list-style: none;
}

.footer-icons i {
    color: white;
    font-size: 2rem;
    padding: 0 12px;
}

.footer-icon-container ul {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.1);
}

.project-img img:hover {
    transform: scale(1.1);
}

.fa-brands:hover {
    transform: scale(1.1);
}

.navbar a:hover {
    background-color: #7843E9;
    transform: scale(1.1);
    border-radius: 10px;
    opacity: 0.9;
}


@media (max-width:480px) {

    .navbar a {
        font-size: 10px;
    }

    .intro-heading {
        padding: 30px;
    }

    #name-head h1 {
        font-size: 4rem;
    }

    .intro-para {
        margin: 20px 30px 30px;
    }

    .intro-para p {
        text-align: center;
        font-size: 15px;
    }

    .intro-buttons {
        flex-wrap: wrap;
    }

    .about-para {
        margin: 0 0 100px;
    }

    #about-info {
        font-size: 15px;
    }

    .project-info {
        align-items: center;
    }

    .oneproject-head-container h1 {
        font-size: 2.5rem;
    }

    .oneproject-content {
        padding: 10px;
        margin: 0;
    }

    .oneproject-content h2 {
        text-align: center;
    }

    .contact-details {
        flex-direction: column;
    }

    .footer-container {
        justify-content: center;
    }

    .footer-head {
        align-items: center;
    }

    .footer-head p,
    h1 {
        text-align: center;
    }

    .footer-socials {
        align-items: center;
    }

    .project-heading h1 {
        text-align: center;
        padding-top: 25px;
    }

    .project-intro p {
        text-align: center;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .navbar a {
        font-size: 10px;
    }

    .intro-heading {
        padding: 30px;
    }

    #name-head h1 {
        font-size: 4rem;
    }

    .intro-para {
        margin: 20px 30px 30px;
    }

    .intro-para p {
        text-align: center;
        font-size: 15px;
    }

    .intro-buttons {
        flex-wrap: wrap;
    }

    .about-para {
        margin: 0 100px 100px;
    }

    #about-info {
        font-size: 15px;
    }

    .project-info {
        align-items: center;
    }

    .project-heading h1 {
        text-align: center;
        padding-top: 25px;
    }

    .oneproject-head-container h1 {
        font-size: 2.5rem;
    }

    .oneproject-content {
        padding: 10px;
        margin: 0;
    }

    .oneproject-content h2 {
        text-align: center;
    }

    .contact-details {
        flex-direction: column;
    }

    .footer-container {
        justify-content: center;
    }

    .footer-head {
        align-items: center;
    }

    .footer-head p,
    h1 {
        text-align: center;
    }

    .footer-socials {
        align-items: center;
    }

    .project-into p {
        text-align: center;
    }
}

@media (min-width:769px)and (max-width:1024px) {

    .intro-para {
        text-align: center;
    }

    .about-para {
        margin: 0 100px 100px;
    }

    .oneproject-content {
        margin: 0;
    }

    .project-info {
        align-items: center;
    }

    .project-heading h1 {
        text-align: center;
        padding-top: 25px;
    }
}